doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
        include ./partials/head.pug
    body
        include ./partials/nav.pug
        .container
            h1 Bienvenidos a mi pagina con Handlebars!
            a.btn.btn-warning.m-3(role='button' href='/productos') Ir a productos
            a.btn.btn-warning.m-3(role='button' href='/productos/form') Agregar un producto
